.container-old {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.header {
    text-align: left;
    background-color: #2a2a2a;
    color: white;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 80px;
    font-size: 3rem;
    opacity: 0.8; 
    top: 0;
}

.nav {
    background-color: #404040;
    color: white;
    padding: 20px;
}

    .nav ul {
        list-style-type: none;
        padding: 0;
    }

        .nav ul li {
            margin: 10px 0;
        }

            .nav ul li a {
                color: white;
                text-decoration: none;
            }

.main-content {
    padding: auto;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 250px;
    height: 800px;
    color: white;
    opacity: 0.55; 
}

.mainimg {
    padding: auto;
    width: auto;
    height: auto;
    margin-left: 0px;
}

.testimonial {
    background-color: #3b3030;
    padding: 20px;
    width: auto;
    height: 300px;
    opacity: 0.8;
    color: white;
}

.custimg {
    width: 220px; 
    height: auto; 
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.siparis-menu {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #3b3030;
    padding: 20px;
    height: 200px;
    opacity: 0.8;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background: url('../images/main.jpg') no-repeat center center fixed;
    background-size: cover;
}

.picks {
    background-color: #3b3030;
    padding: 20px;
    width: 250px;
    height: 800px;
    color: white;
    opacity: 0.8;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.map-container {
    width: 80%;
    margin: 20px 0;
}

.map-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

    .map-options button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

        .map-options button:hover {
            background-color: #45a049;
        }

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}

.reservation-form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #3b3030;
    padding: 20px;
    height: 200px;
    opacity: 0.8;
    color: white;
}

    .reservation-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .reservation-form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .branch-label {
        font-size: 16px; /* Yazı boyutu */
        font-weight: bold; /* Kalın yazı */
        color: #333; /* Yazı rengi */
        margin-bottom: 10px; /* Alt boşluk */
        display: block; /* Blok seviyesinde görüntüleme */
    }

        .reservation-form button:hover {
            background-color: #45a049;
        }

.shopping-cart {
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

    .shopping-cart.dark {
        background-color: #f6f6f6;
    }

    .shopping-cart .content {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: white;
    }

    .shopping-cart .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

        .shopping-cart .block-heading p {
            text-align: center;
            max-width: 420px;
            margin: auto;
            opacity: 0.7;
        }

    .shopping-cart .dark .block-heading p {
        opacity: 0.8;
    }

    .shopping-cart .block-heading h1,
    .shopping-cart .block-heading h2,
    .shopping-cart .block-heading h3 {
        margin-bottom: 1.2rem;
        color: #3b99e0;
    }

    .shopping-cart .items {
        margin: auto;
    }

        .shopping-cart .items .product {
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

            .shopping-cart .items .product .info {
                padding-top: 0px;
                text-align: center;
            }

                .shopping-cart .items .product .info .product-name {
                    font-weight: 600;
                }

                    .shopping-cart .items .product .info .product-name .product-info {
                        font-size: 14px;
                        margin-top: 15px;
                    }

                        .shopping-cart .items .product .info .product-name .product-info .value {
                            font-weight: 400;
                        }

                .shopping-cart .items .product .info .quantity .quantity-input {
                    margin: auto;
                    width: 80px;
                }

                .shopping-cart .items .product .info .price {
                    margin-top: 15px;
                    font-weight: bold;
                    font-size: 22px;
                }

    .shopping-cart .summary {
        border-top: 2px solid #5ea4f3;
        background-color: #f7fbff;
        height: 100%;
        padding: 30px;
    }

        .shopping-cart .summary h3 {
            text-align: center;
            font-size: 1.3em;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .shopping-cart .summary .summary-item:not(:last-of-type) {
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .shopping-cart .summary .text {
            font-size: 1em;
            font-weight: 600;
        }

        .shopping-cart .summary .price {
            font-size: 1em;
            float: right;
        }

        .shopping-cart .summary button {
            margin-top: 20px;
        }

@media (min-width: 768px) {
    .shopping-cart .items .product .info {
        padding-top: 25px;
        text-align: left;
    }

        .shopping-cart .items .product .info .price {
            font-weight: bold;
            font-size: 22px;
            top: 17px;
        }

        .shopping-cart .items .product .info .quantity {
            text-align: center;
        }

            .shopping-cart .items .product .info .quantity .quantity-input {
                padding: 4px 10px;
                text-align: center;
            }
}
