@inherits LayoutComponentBase

<div class="sidebar">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Directions</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <input type="text" placeholder="Search..." />
    </nav>
</div>

<div class="main-content">
    @Body
</div>

<footer>
    <p>Follow us on Facebook</p>
    <!-- Social media links here -->
</footer>


